In [1]:
import numpy as np
import pandas as pd
from itertools import product

import utils as utils
from dnp_model import DNP
from config.network import construct_network
from ncg.np_cg import *
from config.param import Param

[facinv] 2023-12-19 16:39:23,318: -- The FACINV python package --
[facinv] 2023-12-19 16:39:23,319:   LLLGZ, 2023 (c)
[facinv] 2023-12-19 16:39:23,319: :solution      to ./out
[facinv] 2023-12-19 16:39:23,319: :data          to ./data
[facinv] 2023-12-19 16:39:23,320: :logs and tmps to ./tmp

In [3]:
data_basic = "data//basic.xlsx"
df1 = pd.read_excel(data_basic, sheet_name="wc")
df2 = pd.read_excel(data_basic, sheet_name="pw")
df3 = pd.read_excel(data_basic, sheet_name="ww")

In [2]:
data_dir = "data/data_0401_V4_1219.xlsx"

In [4]:
df = pd.read_excel(data_dir, sheet_name="7-node-sku-time")

In [5]:
df.columns

Index(['id', 'sku', 'demand', 'time'], dtype='object')

In [9]:
df['n'] = df['id'].str.cat(df['sku'],sep="-")

In [11]:
df['n']

0             T0015-Y000168
1             T0015-Y000168
2             T0015-Y000168
3             T0015-Y000168
4             T0015-Y000168
                ...
493878    C00598589-Y000180
493879    C00598589-Y000180
493880    C00598589-Y000180
493881    C00598589-Y000180
493882    C00598589-Y000180
Name: n, Length: 493883, dtype: object

In [16]:
df['time'] = df['time'].map(lambda x: str(x))

In [17]:
df['n'].str.cat(df['time'],sep="-")

0               T0015-Y000168-0.0
1               T0015-Y000168-3.0
2               T0015-Y000168-6.0
3               T0015-Y000168-9.0
4              T0015-Y000168-12.0
                   ...
493878    C00598589-Y000180-279.0
493879    C00598589-Y000180-280.0
493880    C00598589-Y000180-281.0
493881    C00598589-Y000180-282.0
493882    C00598589-Y000180-283.0
Name: n, Length: 493883, dtype: object

In [21]:
df

               id      sku         demand   time                  n
0           T0015  Y000168   60376.000000    0.0      T0015-Y000168
1           T0015  Y000168   80501.000000    3.0      T0015-Y000168
2           T0015  Y000168   80502.000000    6.0      T0015-Y000168
3           T0015  Y000168   80502.000000    9.0      T0015-Y000168
4           T0015  Y000168  100628.000000   12.0      T0015-Y000168
...           ...      ...            ...    ...                ...
493878  C00598589  Y000180      17.061189  279.0  C00598589-Y000180
493879  C00598589  Y000180      25.115470  280.0  C00598589-Y000180
493880  C00598589  Y000180      28.120125  281.0  C00598589-Y000180
493881  C00598589  Y000180      29.268922  282.0  C00598589-Y000180
493882  C00598589  Y000180      78.537668  283.0  C00598589-Y000180

[493883 rows x 5 columns]

In [19]:
df['n'].duplicated()

0         False
1          True
2          True
3          True
4          True
          ...
493878     True
493879     True
493880     True
493881     True
493882     True
Name: n, Length: 493883, dtype: bool

In [22]:
df = df.drop_duplicates(subset=['n'], keep='first')

In [25]:
df.to_csv('data/demand.csv')

In [24]:
df.drop('n',index=0)

ValueError: Cannot specify both 'labels' and 'index'/'columns'

In [ ]:
from itertools import product
list(product(df1['w'], df1['c'], df1['sku']))

: